<form [formGroup]="addTransaction" (ngSubmit)="onAddTransaction()">
    <ion-list>
        <div formGroupName="tabledata">
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Date</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <input formControlName="Date" matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Name</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <mat-form-field class="example-full-width">
                            <input type="text" matInput formControlName="Name">
                        </mat-form-field>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Type</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <mat-radio-group formControlName="Type" aria-label="Select an option">
                            <mat-radio-button value="Earned">Earned</mat-radio-button>
                            <mat-radio-button value="Paid">Paid</mat-radio-button>
                        </mat-radio-group>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Category</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <mat-form-field class="example-full-width">
                            <mat-label>Select Category</mat-label>
                            <mat-select formControlName="Category">
                                <mat-option *ngFor="let category of Categories" [value]="category">
                                    {{category}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Amount</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <mat-form-field class="example-full-width">
                            <input type="number" matInput formControlName="Amount">
                        </mat-form-field>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
        <div formGroupName="otherdata">
            <ion-row>
                <ion-col size="4">
                    <ion-item lines="none">Description</ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none">
                        <mat-form-field class="example-full-width">
                            <textarea matInput formControlName="Description"></textarea>
                        </mat-form-field>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
        <ion-row>
            <ion-col size="12">
                <ion-button class="primary" type="submit" expand="block" size="small">Ok</ion-button>
            </ion-col>
        </ion-row>
    </ion-list>
</form>