.incomeButton {
    background-color: green;

    >ion-label {
        color: white;
    }
}

.expenseButton {
    background-color: blue;

    >ion-label {
        color: white;
    }
}

.liabilityButton {
    background-color: red;

    >ion-label {
        color: white;
    }
}

.assetButton {
    background-color: azure;
}

ion-tab-button {
    ion-label {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }
}