<ion-card>
    <ion-card-content>
        <form [formGroup]="signup" (ngSubmit)="onSignup()">
            <ion-item lines="none">
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="username"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="floating">E-mail</ion-label>
                <ion-input formControlName="email"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="floating">Password</ion-label>
                <ion-input formControlName="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input formControlName="confirm_password"></ion-input>
            </ion-item>
            <ion-button expand="block" fill="solid" type="submit">Signup</ion-button>
        </form>
    </ion-card-content>
</ion-card>