<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menu="home">
      <ion-menu-button menu="home"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item no-padding no-margin>
      header
    </ion-item>
    <ion-item-sliding>
      <ion-item no-padding no-margin>
        content
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mat-raised-button size="small" (click)="addStatement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>