<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" menu="home">
      <ion-menu-button menu="home"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-padding no-margin>
    <ion-col no-padding>Date</ion-col>
    <ion-col no-padding>Name</ion-col>
    <ion-col no-padding>
      Category
    </ion-col>
    <ion-col no-padding>Amount</ion-col>
  </ion-item>
  <ion-list *ngFor="let transaction of transactions">
    <ion-text lines="none" *ngIf="transactions.length <= 0">
      Create a New Transaction
    </ion-text>
    <ion-item-sliding *ngIf="transactions.length > 0">
      <ion-item no-padding no-margin>
        <ion-col no-padding>{{transaction.Date | date : 'shortDate'}}</ion-col>
        <ion-col no-padding>{{transaction.Name}}</ion-col>
        <ion-col no-padding>
          <ion-badge>{{transaction.Category}}</ion-badge>
        </ion-col>
        <ion-col no-padding>{{transaction.Amount | currency:'INR'}}</ion-col>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="favorite(item)" slots="icon-only">
          <ion-icon name="create" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="favorite(item)" slots="icon-only">
          <ion-icon name="trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button mat-raised-button size="small" (click)="addStatement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>