<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="table">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="stats">
      <ion-label>Stats</ion-label>
      <ion-icon name="stats"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="friends">
      <ion-label>Friends</ion-label>
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="groups">
      <ion-label>Groups</ion-label>
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>